# Maven
target/
releases/

# Eclipse
.classpath
.project
.settings/
META-INF/
build.properties

*.iml

pom.xml.releaseBackup
release.properties
pom.xml.versionsBackup
*.owl
update.properties
HermiT.jar