<?xml version="1.0" ?>

<plugin>
   <extension id="ClassAxiomQueryViewComponent"
      point="org.protege.editor.core.application.ViewComponent">
      <label value="DIP"/>
      <class value="net.za.cair.dip.ui.view.OWLClassExpressionEditorViewComponent"/>
      <headerColor value="CC3366"/>
      <category value="DIP"/>      
   </extension> 
   <extension id="DefeasibleAxiomsViewComponent"
      point="org.protege.editor.core.application.ViewComponent">
      <label value="Defeasible Axioms"/>
      <class value="net.za.cair.dip.ui.view.DefeasibleAxiomsViewComponent"/>
      <headerColor value="CC3366"/>
      <category value="DIP"/>      
   </extension>
   <extension id="StrictAxiomsViewComponent"
      point="org.protege.editor.core.application.ViewComponent">
      <label value="Strict Axioms"/>
      <class value="net.za.cair.dip.ui.view.StrictAxiomsViewComponent"/>
      <headerColor value="CC3366"/>
      <category value="DIP"/>      
   </extension>
   <extension id="DIPTab"
      point="org.protege.editor.core.application.WorkspaceTab">
      <label value="DIP"/>
      <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>      
      <index value="G"/>      
      <editorKitId value="OWLEditorKit"/>
      <defaultViewConfigFileName value="viewconfig-dip.xml"/>      
   </extension>
</plugin>
